/* Переменные */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --background-gray: #eeeeee;
  --background-item-grey: #4d4d4d;
  --background-item-grey-light: :rgba(77, 77, 77, 0.12);
  --basic-gray-white:#e1e1e1;
  --basic-gray-middle: #666666;
  --basic-gray-dark: #444444;
  --basic-gray-blue: #283136;

  --button-red: #fb565a;
  --button-red-middle:#e74246;
  --button-red-dark:#d7373b;
  --button-white:rgba(255, 255, 255, 0.3);
  --button-black:rgba(0, 0, 0, 0.3);
  --button-black-hover: rgba(0, 0, 0, 0.6);

  --button-green: #00ca74;
  --button-green-middle: #00bc6c;
  --button-green-dark: #00aa62;

  --button-yellow: #efc849;
  --button-yellow-middle: #eab534;
  --button-yellow-dark: #e5a722;

  --button-gray-middle: #dfdfdf;
  --button-gray-dark: #d5d5d5;

  --scale-gray: #d7dcdc;
}

/* Global */

[hidden] {
  display: none;
}

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0;
  outline: 5px solid #dd20ee;
  outline-offset: -5px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}
/* Header */

.main-header {
  background-color: var(--background-gray);
  padding: 49px 0 0 0;
}

.site-navigation-link {
  color: var(--basic-black);
}

.site-navigation-link:hover {
  color: var(--button-red);
}

.site-navigation-link:focus {
  opacity: 30%;
}

.main-header-navigation {
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: transparent;
  font-weight: 500;
  line-height: 30px;
  display: grid;
  grid-template-columns: 160px auto min-content;
}

.main-header-logo {
  outline: 5px solid #00aa62;
  outline-offset: -5px;
  padding-left: 20px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 5px solid #0058aa;
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  column-gap: 45px;
  justify-self: center;
}

.user-cart {
  padding-right: 20px;
  outline: 5px solid #97123e;
  outline-offset: -5px;
  justify-self: end;
}

.cart {
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: 500;
  line-height: 30px;
}

.cart:hover {
  color: var(--button-red);
}

.cart:focus {
  opacity: 30%;
}

/* Slider */

.slider {
  color: var(--basic-black);
  margin: 0px auto;
  padding: 0px;
  position: relative;
}

.slider-features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-features-list-item {
  margin: 0;
  padding-left: 20px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
  min-height: 431px;
  position: relative;
}

.slider-img {
  outline: 5px solid #4b3ef5;
  outline-offset: -5px;
  position: absolute;
  right: 20px;
}

.slider-slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  outline: 5px solid #c4c117;
  outline-offset: -5px;
  padding-top: 78px;
  width: 538px;
  height: 111px;
}

.button {
  font: inherit;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button:active {
  color: var(--button-white);
}

.features-button {
  background-color: var(--button-red);
  outline: 5px solid #07ce8c;
  outline-offset: -5px;
  width: 242px;
  height: 51px;
}

.slider-overview {
  outline: 5px solid #5dd844;
  outline-offset: -5px;
  width: 430px;
}

.slider-control {
  position: absolute;
  bottom: 95px;
  right: 530px;
}

.button-red {
  background-color: var(--button-red);
}

.button-red:hover {
  background-color: var(--button-red-middle);
}

.button-red:focus,
.button-red:active {
  background-color: var(--button-red-dark);
}

.button-green {
  background-color: var(--button-green);
}

.button-green:hover {
  background-color: var(--button-green-middle);
}

.button-green:focus,
.button-green:active {
  background-color: var(--button-green-dark);
}

.button-yellow {
  background-color: var(--button-yellow);
}

.button-yellow:hover {
  background-color: var(--button-yellow-middle);
}

.button-yellow:focus,
.button-yellow:active {
  background-color: var(--button-yellow-dark);
}
/*
.button-red:active,
.button-green:active,
.button-yellow:active {
  color: var(--button-white);
}
*/
.slider-button {
  background-color: var(--basic-white);
}

/* Сервисы */
.services {
  background-color: var(--basic-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-gray-blue);
}

h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.services-item {
  padding-left: 20px;
  outline: 5px solid #5dd844;
  outline-offset: -5px;
}

/* О компании */

.about {
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.about-left-side {
  color: var(--basic-gray-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  outline: 5px solid #ee2054;
  outline-offset: -5px;
  padding-left: 20px;
}

.about-slogan {
  font-family: inherit;
  color: var(--basic-black);
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-right-side {
  color: var(--basic-gray-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  outline: 5px solid #20ee31;
  outline-offset: -5px;
}

.about-metrics {
  background-color: var(--basic-white);
}

.about-metrics caption {
  color: var(--basic-black);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.about-metrics-percent {
  color: var(--basic-black);
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
}

/* Клиенты */

.clients-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.clients-item {
  background-color: var(--basic-white);
  opacity: 0.2;
  outline: 5px solid #20e7ee;
  outline-offset: -5px;
  padding-left: 20px;
}

.clients-item:hover {
  opacity: 1;
}

.clients-item:focus {
  opacity: 0.1;
}

/* Футер */

.main-footer {
  background-color: var(--basic-white);
  color: var(--basic-gray-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

/* Контакты */

.contact-block{
  position: relative;
  height: 416px;
}

.map {
  position: absolute;
  left: -10%;
  right: -10%;
}
.contact-list {
  position: absolute;
  top:54px;
  left: 0;
  padding-left: 50px;
  padding-top: 50px;
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
  color: var(--basic-gray-middle);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  outline: 5px solid #e0ee20;
  outline-offset: -5px;
  z-index: 1;
}

.contact-list h3 {
  font-size: 18px;
}

.contact-phone {
  color: inherit;
}

.map-marker {
  z-index: 1;
  outline: 5px solid #e0ee20;
  outline-offset: -5px;
  position: absolute;
  top:25%;
  left: 50%;
}

/* Соцсети */

.social-networks {
  background-color: var(--basic-white);
}
.social-networks-wrapper{
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr 1fr;
  height: 81px;
  margin: 59px 0px;
}

.social-networks-list {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 5px solid #e0ee20;
  outline-offset: -5px;
  grid-column: 1;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.social-networks-item {
  background-color: var(--basic-gray-white);
  width: 81px;
  height: 81px;
}

.social-networks-item:hover {
  background-color: var(--button-red-middle);
}

.social-networks-item:focus,
.social-networks-item:active {
  background-color: var(--button-red-dark);
}

.social-networks-slogan {
  color: var(--basic-black);
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  height: 43px;
  outline: 5px solid #2e20ee;
  outline-offset: -5px;
  grid-column: 2/3;
  grid-row: 1;
  margin: 0px;
}

.social-networks-discount {
  outline: 5px solid #dd20ee;
  outline-offset: -5px;
  height: 38px;
  grid-column: 2/3;
  grid-row: 2;
  margin: 0px;
}

/* Каталог */

.main h1 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--background-gray);
}

.filter {
  background-color: var(--basic-white);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--basic-gray-blue);
}

.caption {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.range-controls {
  background-color: var(--background-gray);
}

.scale {
  background-color: var(--scale-gray);
}

.bar {
  background-color:var(--button-green) ;
}

.toggle {
  background-color: var(--basic-white);
}

.filter-form label {
  line-height: 22px;
  text-transform: uppercase;
}

.cost-input {
  background-color: var(--background-gray);
  line-height: 22px;
}

.button-gray {
  background-color: var(--background-gray);
  color: var(--basic-black);
}

.button-gray:hover {
  background-color:var(--button-gray-middle) ;
}

.button-gray:active,
.button-gray:focus {
  background-color: var(--button-gray-dark);
  color: var(--button-black);
}

/* сортировка */

.sort {
  background-color: var(--basic-white);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort-list {
  list-style: none;
}

.sort-link {
  color: var(--button-black);
}

.sort-link:hover {
  color: var(--button-black-hover);
}

.active-link,
.sort-link:active,
.sort-link:focus {
  color: var(--basic-black);
}

/* шаблоны */

.templates {
  background-color: var(--basic-white);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-gray-middle);
}

.templates-item:hover {
  background-color: var(--background-item-grey-light);
}

.templates-overview {
  background-color: var(--background-gray);
}

.templates-overview:hover {
  background-color: var(--background-item-grey);
}

.templates-list {
  list-style: none;
}

.templates-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.templates-link:hover {
  color: var(--button-red);
}

.templates-link:active,
.templates-link:focus {
  color: var(--button-black);
}

/* страничная навигация */

.pagination {
  background-color: var(--basic-white);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black);
  list-style: none;
}

.page-number {
  background-color: var(--background-gray);
}

.active-page {
  background-color: var(--button-white);
  border: 3px solid var(--background-item-grey-light);
}
